<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="BlaBlaChat" version="3.0">

    <display-name>BlaBlaChat</display-name>

    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>pl.infobazasolution.blablachat.app.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>jwt-token-needed-filter</filter-name>
        <filter-class>pl.infobazasolution.blablachat.security.jwt.JwtTokenNeededFilter</filter-class>
        <!--<init-param>
            <param-name>json</param-name>
            <param-value>application/json</param-value>
        </init-param>
        <init-param>
            <param-name>cookie</param-name>
            <param-value>application/cookie</param-value>
        </init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>jwt-token-needed-filter</filter-name>
        <url-pattern>/api/message/*</url-pattern>
        <url-pattern>/api/user/get</url-pattern>
        <url-pattern>/api/user/update</url-pattern>
    </filter-mapping>
</web-app>
